* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
    background-color: #fafafa;
    color: #2F2F2F;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
}

.logo {
    max-width: 120px;
    transition: transform 0.3s;
}

.logo:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.nav-icons {
    display: flex;
    gap: 30px;
}

.nav-icons img {
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: transform 0.3s;
}

.nav-icons img:hover {
    transform: scale(1.1);
}

main {
    padding: 40px;
}

.profile h2 {
    font-size: 42px;
    font-weight: 700;
    color: #333;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.user-info {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

.user-info h3 {
    font-size: 24px;
    font-weight: 500;
    color: #333;
}

.user-info span {
    font-weight: 600;
}

.user-info button {
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #2F2F2F;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: Manrope;
    transition: background-color 0.3s, transform 0.2s;
    margin-top: 20px;
}

.user-info button:hover {
    background-color: #333;
}

.order-history {
    margin-top: 40px;
}

.order-history h2 {
    font-size: 36px;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.order-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.order-item {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33% - 20px);
    min-width: 250px;
    transition: transform 0.2s;
}

.order-item:hover {
    transform: translateY(-4px);
}

.predictive-section {
    margin-top: 40px;
}

.predictive-section h2 {
    font-size: 36px;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.seasonal-recommendations {
    display: flex;
    gap: 20px;      /* Это обеспечивает расстояние между карточками */
    flex-wrap: wrap; /* Это позволяет переносить карточки на следующую строку, если не хватает места */
}

.season {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 200px;
}

.season h3 {
    font-size: 22px;
    font-weight: 600;
    color: #333;
}

.season p {
    font-size: 16px;
    color: #555;
    margin-top: 5px;
}

.season span {
    font-weight: bold;
}

